*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    min-height: 100vh;
    background-image: radial-gradient(hsl(220 13% 34%),hsl(239 58% 20%));
}
h1{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
}
#canvas{
    display: block;
    margin: 0 auto;
    border: 1px solid hsl(180 100% 50%);
    width: 66vw;
    height: 66vh;
}
@media only screen and (max-width: 700px){
    #canvas{
        width: 90vw;
        height: 90vh;
    }
}